/**
 * The following styles get applied inside the editor only.
 */
.patips-patron-status                       { max-width: 650px; margin: auto; }
.patips-patron-status.patips-selected-block { margin: 20px auto; }

@media screen and ( max-width: 768px ) {
	.patips-patron-status.patips-selected-block {
		padding: 0 20px;
	}
}